@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #ecf2f2c4;
}

.scroll-up-btn {
  position: fixed;
  height: 43px;
  width: 40px;
  background-color: crimson;
  right: 30px;
  bottom: 10px;
  text-align: center;
  color: #fff;
  line-height: 43px;
  z-index: 9999999;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
}
.scroll-down-cv {
  position: fixed;
  height: 37px;
  width: 114px;
  /* background-color: crimson; */
  left: 30px;
  border: 1px solid black;
  bottom: 10px;
  text-align: center;
  /* color: #fff; */
  line-height: 37px;
  z-index: 9999999;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  opacity: 1;
  pointer-events: auto;
  bottom: 30px;
}
.navbarr {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
  z-index: 9000000000000;
}
.navbarr.sticky {
  padding: 15px 0;
  background-color: crimson;
}
.navbarr .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.navbarr .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-left: 45px;
  transition: color;
  text-decoration: none;
}
.navbarr .menu li a:hover {
  color: crimson;
  font-weight: 700;
}
.navbarr.sticky .menu li a:hover {
  color: rgb(99, 6, 6);
}

.navbarr .menu li {
  display: inline-block;
}

.navbarr .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  text-decoration: none;
}
.navbarr .logo a span {
  color: crimson;
}
.navbarr.sticky .logo a span {
  color: #fff;
}

/* style btn menu  */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* home section style */

.home {
  display: flex;
  background: url("image/1.jpg");
  background-size: cover;
  height: 800px;
  background-position-y: 800px;
  background-position-x: center;
  color: #fff;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  margin: auto 0 auto 40px;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 70px;
  margin: 10px 0;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: crimson;
  font-weight: 500;
}
.home .home-content .hire-me {
  background-color: crimson;
  color: #fff;
  font-size: 25px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
  padding: 1px 12px;
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
}
.home .home-content .hire-me:hover {
  background: rgba(14, 1, 1, 0.605);
  color: crimson;
}

/* ==========================all common styling ================= */

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 40px;
  font-weight: 500px;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 180px;
  height: 2px;
  background-color: #111;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  padding: 0 5px;
  color: crimson;
  font-size: 20px;
  background-color: #fff;
  transform: translateX(-50%);
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.about,
.servises,
.skills,
.teams {
  font-family: "Poppins", sans-serif;
}

/* ===================end common styling=============== */
/* about section  */
p.loveyou {
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  color: #4b4343;
  font-family: "Poppins";
  margin-left: 292px;
}
section {
  padding: 100px 0;
}

.about .title::after {
  content: "who i am";
}

.about .about-content .left {
  width: 45%;
}
.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #98383845;
  transition: 0.3s;
}
.about .about-content .left img:hover {
  box-shadow: 1px 0px 2px 2px grey;
  transform: scale(1.02);
}
.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right .text span {
  color: crimson;
}
.about .about-content .right a {
  display: inline-block;
  background-color: crimson;
  color: #fff;
  font-size: 20px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
  padding: 4px 17px;
  margin-top: 20px;
  border-radius: 6px;
  text-decoration: none;
}
.about .about-content .right a:hover {
  background: none;
  color: crimson;
}
.about .about-content .right p {
  /* text-align: justify; */
  font-weight: 500;
  line-height: 1.6;
  color: #696060;
}

/* ==============services start styling ==================*/
.services,
.teams {
  color: #fff;
  background-color: #111;
}
.services .title::after {
  content: "what i provide";
  background-color: #111;
}
.services .title::before,
.teams .title::before {
  background: #fff;
}
.services .serv-content .card {
  background-color: #222;
  text-align: center;
  width: calc(33% - 20px);
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  margin: 5px;
  transition: all 0.3s ease;
}
.services .serv-content .card .box {
  transition: all 0.3s ease;
}
.services .serv-content .card:hover {
  background-color: crimson;
}
.services .serv-content .card:hover i {
  color: #fff;
}
.services .serv-content .card i {
  transition: all 0.3s ease;
}
.services .serv-content .card:hover .box {
  transform: scale(1.05);
}

.services .serv-content .card i {
  font-size: 50px;
  color: crimson;
}
.services .serv-content .card .text {
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0 7px 0;
  font-family: "Ubuntu", sans-serif;
}

/* ============== END services start styling ==================*/

/* ============ START skills section styling=========== */
.skills .title::after {
  content: "I'm an idiot";
}
span.carousel-control-prev-icon {
  background: #100f0f;
  padding: 25px 38px 27px 15px;
  line-height: 2px;
}
p.text-skill {
  font-size: 18px;
  font-weight: 400;
  color: #dc143c;
  white-space: none;
}
span.carousel-control-prev-icon,
span.carousel-control-next-icon {
  background: #e43131;
  padding: 3px 27px 30px 13px;
  line-height: 26px;
  margin-top: 500px;
  position: relative;
  color: white;
  font-size: 26px;
  top: 0px;
  border-radius: 5px;
}
span.carousel-control-prev-icon {
  margin-left: 500%;
}
span.carousel-control-next-icon {
  margin-right: 500%;
}

.skills .skills-content .column {
  width: calc(50% - 30px);
}
.skills .skills-content .left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills .skills-content .right .bars {
  margin-bottom: 15px;
}
.skills .skills-content .right .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .right span {
  font-weight: 500;
  font-size: 18px;
}
.skills .skills-content .right .line {
  height: 2px;
  width: 100%;
  background-color: lightgray;
  position: relative;
}
.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;

  left: 0;
  top: 0;
  background-color: rgba(116, 26, 44, 0.615);
}
.skills .skills-content .right .html::before {
  width: 72%;
}
.skills .skills-content .right .css::before {
  width: 60%;
}
.skills .skills-content .right .javascript::before {
  width: 40%;
}
.skills .skills-content .right .reactjs::before {
  width: 40%;
}
.skills .skills-content .right .nodejs::before {
  width: 35%;
}

/* /*=============== END skills section styling============/ */

/* =====================START my product=========== */

.teams .title::after {
  content: "product of me";
}
section .box-30 {
  width: 100%;
  height: 400px;
  background-color: #222;
  border-radius: 10px;
  box-shadow: inset 0px 0px 6px 0 grey;
  box-sizing: border-box;

  overflow: hidden;
}
.box-30 img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: all 0.3s;
  padding: 7px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: inset 0px 0px 2px 0 grey;
}
.box-30 img:hover {
  background-color: rgba(22, 21, 21, 0.496);
  transform: scale(1.05);
}
.text-box {
  padding: 0 20px;
}
.text-box .text {
  color: crimson;
  font-size: 22px;
  font-weight: 6 00;
  text-align: center;
  cursor: pointer;
}
.descript {
  text-align: center;
  color: #999;
}
.a-color-brown {
  color: #444;
}

/* ===============END my product================ */
/* =================START contact me=================== */
.contact .title::after {
  content: "get in touch";
}
.contact .contact-content .column {
  width: calc(50% - 30px);
}
.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info {
  margin-left: 30px;
}
.contact .contact-content .row i {
  font-size: 25px;
  color: crimson;
}
.contact .contact-content .row .head {
  font-weight: 500;
}
.contact .contact-content .row .sub-title {
  color: #333;
}
.contact .right form .fields {
  display: flex;
}
.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .email {
  margin-left: 10px;
}
.contact .right form .textarea {
  height: 30px;
  width: 100%;
}
.contact .right form .textarea textarea {
  padding-top: 10px;

  width: 100%;
  border: none;
  outline: none;
  height: 80px;
}
.contact .right form .field,
.contact .right form .fields .filed {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .field input,
.contact .right form .textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  background: #fff;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}
.button-area button {
  width: 180px;
  padding: 4px 17px;
  background-color: crimson;
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
  border: 2px solid crimson;
  transition: all 0.3s;
}
.button-area button:hover {
  background: none;
  color: crimson;
}

/*======================== footer ======================== */

footer.footer {
  background: #111;
}
h2.about-me {
  font-size: 25px;
  color: gray;
  padding: 35px 0px 20px 0px;
}

.footer li {
  line-height: 1.8;
  padding: 35px 0px 20px 0px;
  color: #999999;
  font-weight: 400;
  font-family: "Poppins" serif;
}
footer .about-me {
  padding: 20px 0;
  font-size: 30px;
  font-weight: 700;
  color: gray;
  font-family: "Poppins";
}
li.footer-li {
  padding: 10px;
  list-style: none;
}
li.footer-li i {
  padding-right: 10px;
  color: crimson;
}
li.footer-li span {
  font-family: "Poppins" sans-serif;
  color: #999999;
  font-weight: 600;
}

/* =================END contact me=================== */

/* responsive media query */
@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}
@media (max-width: 1140px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}
@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
  .scroll-down-cv {
    opacity: 0;
  }
  .menu-btn {
    display: block;
    z-index: 1000;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbarr .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background-color: black;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s;
  }
  .navbarr .menu.active {
    left: 0;
  }

  .navbarr .menu li {
    display: block;
    padding: 20px 0;
  }
  .home .home-content .text-2 {
    font-size: 50px;
    margin: 5px 0;
  }
  .home .home-content .text-3 {
    font-size: 30px;
    margin: 5px 0;
  }
  .home .home-content .hire-me {
    font-size: 23px;
    padding: 7px 23px;
  }
  .max-width {
    max-width: 800px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  * {
  }
  li.footer-li {
    font-size: 10px;
}


  p.loveyou {
    margin-left: 118px;
  }
  span.carousel-control-prev-icon,
  span.carousel-control-next-icon {
    background: #e43131;
    padding: 3px 27px 30px 13px;
    line-height: 26px;
    margin-top: 300px;
    position: relative;
    color: white;
    font-size: 26px;
    top: 0px;
    border-radius: 5px;
  }
  .descript {
    visibility: hidden;
  }
  .box-30 img {
    padding: 4px;
    height: 132px !important;
    box-shadow: inset 0px 0px 0px 2px #00000059;
    border-radius: 9px;
  }
  .text {
    margin-top: 5px;
    font-size: 18px !important;
  }
  section .box-30 {
    height: 190px;
  }

  .col-4 {
    padding: 4px;
  }
  .max-width.teams-litle {
    padding: 0;
  }
  .row {
    margin: 0;
  }
  .max-width {
    margin-top: -20px;
    padding: 0 29px;
  }
  .home-content {
    margin-top: -103px;
  }
  .home .home-content .text-2 {
    font-size: 50px;
    margin: 5px 0;
  }
  .home .home-content .hire-me {
    font-size: 20px;
    padding: 7px 20px;
  }
  .services .serv-content .card {
    width: 100%;
  }
  .skills .skills-content .column {
    width: 100%;
    margin-bottom: 20px;
  }
}
